<span id='extole_zone_confirmation'></span>
<script type="text/javascript">
    (function(c,b,f,k,a){c[b]=c[b]||{};for(c[b].q=c[b].q||[];a<k.length;)f(k[a++],c[b])})(window,"extole",function (c,b){b[c]=b[c]||function (){b.q.push([c,arguments])}},["createZone"],0);
    extole.createZone({
        name: "confirmation",
        element_id: 'extole_zone_confirmation',
        data: {
           {% if customer %}
            "email": {{ customer.email | json }},
            "first_name": {{ customer.first_name | json }},
            "last_name": {{ customer.last_name | json }},
          {% endif %}
        }
    });
</script>