<div id="BF-Why-HP">
    <div id="Not-Sure-Why">
        <div id="Why-HP-Left">
            <div id="Why-HP-Copy">
                <span id="Why-HydroPeptide">The HydroPeptide Glow</span>
                <span id="Text">{{ section.settings.text }}</span>
            </div>
            <div id="Frame-70">
                <div class="HF-About-Icons">
                    <div class="column-icons">
                        <div class="icon-group">
                            <img class="icon" src="https://cdn.shopify.com/s/files/1/0027/5179/1157/files/icon1-reupload.png?v=1660606804"/>
                            <span class="icon-label">Geneticist Developed</span>
                        </div>
                        <div class="icon-group">
                            <img class="icon" src="https://cdn.shopify.com/s/files/1/0027/5179/1157/files/icon2-reupload.png?v=1660606804"/>
                            <span class="icon-label">Clinical Results</span>
                        </div>
                    </div>
                    <div class="column-icons">
                        <div class="icon-group">
                            <img class="icon" src="https://cdn.shopify.com/s/files/1/0027/5179/1157/files/icon4-reupload.png?v=1660606804"/>
                            <span class="icon-label">Clean Science</span>
                        </div>
                        <div class="icon-group">
                            <img class="icon" src="https://cdn.shopify.com/s/files/1/0027/5179/1157/files/Lotus_d9f69677-42f2-40c0-afeb-74dd6d69acce.png?v=1654848974"/>
                            <span class="icon-label">Luxury Experience</span>
                        </div>
                    </div>
                </div>
            </div>
            <a id="Why-HP-CTA" href="https://hydropeptide.com/pages/about-us"><span id="CTA-Text">Learn More about us</span></a>
        </div>
        <div id="Why-HP-Right">
            
        </div>
    </div>
</div>
<style > #BF-Why-HP{display:flex;flex-direction:column;justify-content:center;align-items:stretch;gap:40px;margin:90px 0 50px;padding:0 64px;max-height:476px}#Not-Sure-Why{align-self:stretch;flex-grow:0;display:flex;flex-direction:row;justify-content:center;align-items:stretch;gap:10px;padding:0;background-color:#fff}#Why-HP-Left{max-width:795px;max-height:476px;align-self:stretch;flex-grow:1;display:flex;flex-direction:column;justify-content:center;align-items:flex-start;padding:50px;background-color:#a7c4f3}#Why-HP-Copy{height:auto;align-self:stretch;flex-grow:0;display:flex;flex-direction:column;justify-content:flex-start;align-items:stretch;gap:20px;padding:0}#Why-HP-Copy #Why-HydroPeptide{height:auto;align-self:stretch;flex-grow:0;font-family:ChronicleDisplay-Roman;font-size:40px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.11;letter-spacing:normal;text-align:center;color:#393939}#Why-HP-Copy #Text{height:auto;max-width:695px;align-self:flex-start;flex-grow:0;font-family:TT Norms1;font-size:16px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.31;letter-spacing:normal;text-align:left;color:#393939;word-wrap:normal}.HF-About-Icons{height:auto;align-self:stretch;flex-grow:0;display:flex;flex-direction:row;justify-content:flex-start;align-items:flex-start;gap:100px;padding:0}#Frame-70{height:auto;align-self:stretch;flex-grow:0;display:flex;flex-direction:column;justify-content:flex-start;align-items:stretch;gap:20px;padding:40px 0}.column-icons{width:auto;height:auto;flex-grow:0;display:flex;flex-direction:column;justify-content:flex-start;align-items:flex-start;gap:20px;padding:0}.icon-group{width:226px;height:60px;flex-grow:0;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;gap:10px;padding:0}.icon{width:49.3px;height:57px}.icon-label{width:156px;height:21px;flex-grow:0;font-family:TT Norms1 !important;font-size:16px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.31;letter-spacing:normal;text-align:left;color:#393939}#Why-HP-CTA{height:44px;flex-grow:0;display:flex;flex-direction:row;justify-content:center;align-items:center;gap:10px;padding:10px 20px;border:solid 1px #e4e4e4;background-color:#fff;margin:0}#Why-HP-CTA #CTA-Text{flex-grow:0;font-family:TT Norms1;font-size:14px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:normal;letter-spacing:2px;text-align:center;color:#393939;text-transform:uppercase}#Why-HP-Right{min-width:795px;height:476px;background-image:url({{ section.settings.image | img_url: 'master' }});background-color:#a7c4f3}@media screen and (max-width: 480px){#BF-Why-HP{padding:0 !important;margin:40px 0 0;max-height:100% !important}#Why-HP-Right{display:none}#Why-HP-Left{max-width:100%;max-height:100% !important;align-self:stretch;flex-grow:0;display:flex;flex-direction:column;justify-content:flex-start;align-items:center;text-align:center;gap:30px;padding:40px 20px;background-color:#a7c4f3}#Frame-70{padding:0}#Why-HP-Copy #Text{align-self:stretch;flex-grow:0;font-family:TT Norms1;font-size:16px;font-weight:normal;font-stretch:normal;font-style:normal;line-height:1.31;letter-spacing:normal;text-align:center;color:#393939}.HF-About-Icons{width:374px;height:182px;flex-grow:0;display:flex;flex-direction:row;justify-content:flex-start;align-items:flex-start;gap:10px;padding:0}.icon-group{height:auto !important;width:auto !important;align-self:stretch;flex-grow:0;display:flex;flex-direction:column;justify-content:flex-start;align-items:center;text-align:center;gap:10px;padding:0}.icon{width:40.7px;height:47px}.icon-label{text-align:center}.column-icons{min-width:182px !important}}</style>
{% schema %}
  {
    "name": "Why HP",
    "settings": [
      {
          "id": "text",
          "type": "textarea",
          "label": "Left Side Text (Under Why HP)"
      },
      {
          "id": "image",
          "type": "image_picker",
          "label": "Right Side Image"
      }
    ]
  }
{% endschema %}