<section id="Contact-About-Gift"> 
    <div class="text">
        <span class="Gift-Guide-Headline">Let’s talk gifts</span>
        <span class="Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Ut-et-massa-mi">Need a bit of guidance? Our gifting experts are standing by to help!</span>
    </div>
    <a class="Text-Button" href="mailto:contact@hydropeptide.com"><span class="CTA-Copy">chat now</span></a>
</section>
{% schema %}
  {
    "name": "Contact",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
    .footer-top
    {
        margin-top: 0 !important;
    }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}