<section id="insta-try">
    <div id="insta-feed-title">
        {{ section.settings.title }}
    </div> 
    <div id="insta-feed-try">

    </div>
    <script>
        $('document').ready(() => {
            fetch('https://www.instagram.com/hydropeptide/channel/?__a=1', {headers: {'mode': 'cors'}})
            .then((res) => {
                console.log(res);
            })
        })
    </script>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    {% section 'instafeed' %}
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": [
        {
            "id" : "title",
            "type": "text",
            "label": "Insta Feed Title",
            "default": "Follow us @HydroPeptide"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}