/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-4a3b8869 {
		font-size: 52px;
		 text-align: center;
	}
	.__pf .pf-8a0b3d86 {
		margin-top: 0px;
		 margin-bottom: 0px;
		 font-family: Roboto;
		 font-size: 40px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 padding-top: 0px;
		 text-align: center;
	}
	.__pf .pf-8e36b6e4 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c4ff36a8-74d2-4d56-a07a-807ac096ab6a--Photo-May-29-2-09-54-PM.jpg?v=1580343592");
		 background-size: cover;
		 padding: 90px 30px;
	}
	.__pf .pf-817e2fb3 {
		font-family: Roboto;
		 font-size: 40px;
		 font-weight: 700;
		 color: rgb(0, 0, 0);
		 text-align: center;
		 margin-bottom: 0px;
	}
	.__pf .pf-ebce014b {
		background-size: cover;
		 padding: 90px 30px;
		 text-align: center;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-bb9d7ec5--FirmaFix.jpeg?v=1586980305");
		 background-position: 50% 50%;
	}
	.__pf .pf-fecbf1b9 {
		font-family: Roboto;
		 font-size: 40px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 padding-left: 0px;
		 text-align: center;
	}
	.__pf .pf-9664d089 {
		background-size: cover;
		 padding: 90px 30px 90px 80px;
		 text-align: right;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c445d881--zkprocosmetics.JPG?v=1586986577");
	}
	.__pf .pf-2f8a1c68 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-67704c87 {
		margin-top: 0px;
		 margin-bottom: 15px;
		 font-family: Roboto;
		 font-size: 30px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 text-align: left;
	}
	.__pf .pf-4706642d {
		color: rgb(255, 255, 255);
		 text-align: left;
		 background-color: rgb(24, 142, 209);
	}
	.__pf .pf-1455b941 {
		padding-right: 70px;
		 padding-left: 70px;
	}
	.__pf .pf-25f14196 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-b65b257d {
		font-size: 16px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-8e36b6e4 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c4ff36a8-74d2-4d56-a07a-807ac096ab6a--Photo-May-29-2-09-54-PM.jpg?v=1580343592");
	}
	.__pf .pf-ebce014b {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-bb9d7ec5--FirmaFix.jpeg?v=1586980305");
	}
	.__pf .pf-9664d089 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c445d881--zkprocosmetics.JPG?v=1586986577");
	}
	.__pf .pf-2f8a1c68 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-67704c87 {
		font-size: 24px;
	}
	.__pf .pf-1455b941 {
		padding-left: 0px;
		 padding-right: 0px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6abf44e9--HPEblastMothersDayR206.jpg?v=1586985068");
	}
	.__pf .pf-25f14196 {
		padding-top: 30px;
		 padding-bottom: 30px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-8e36b6e4 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c4ff36a8-74d2-4d56-a07a-807ac096ab6a--Photo-May-29-2-09-54-PM.jpg?v=1580343592");
	}
	.__pf .pf-ebce014b {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-bb9d7ec5--FirmaFix.jpeg?v=1586980305");
	}
	.__pf .pf-9664d089 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c445d881--zkprocosmetics.JPG?v=1586986577");
	}
	.__pf .pf-1455b941 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6abf44e9--HPEblastMothersDayR206.jpg?v=1586985068");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-8e36b6e4 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c4ff36a8-74d2-4d56-a07a-807ac096ab6a--Photo-May-29-2-09-54-PM.jpg?v=1580343592");
		 padding: 50px 10px;
	}
	.__pf .pf-ebce014b {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-bb9d7ec5--FirmaFix.jpeg?v=1586980305");
		 padding: 50px 10px;
	}
	.__pf .pf-9664d089 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c445d881--zkprocosmetics.JPG?v=1586986577");
		 padding: 50px 10px;
	}
	.__pf .pf-1455b941 {
		padding-left: 30px;
		 padding-right: 30px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6abf44e9--HPEblastMothersDayR206.jpg?v=1586985068");
	}
}
						