/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.dxrmGe { display: inline-flex; vertical-align: middle; }
.dxrmGe picture { width: 100%; border-radius: inherit; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.hHSLcU > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .hHSLcU span + span[contenteditable]:empty::after { display: inline; }
.hHSLcU ol, .hHSLcU ul { list-style-position: inside; }
.hHSLcU blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.uJAsR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.uJAsR[disabled] { opacity: 0.7; }
.uJAsR.is-loading, .uJAsR.is-added { pointer-events: none; }
.uJAsR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.uJAsR.pf-i--left i { margin-right: 0.3em; }
.uJAsR + .sc-pcjuG, .uJAsR.pf-i--right i { margin-left: 0.3em; }
.lgnAIx form { margin: 0px; height: 100%; }
.geCFJR { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.geCFJR.prev-arrow { left: 16px; top: calc(50% - 16px); }
.geCFJR.next-arrow { right: 16px; top: calc(50% - 16px); }
.geCFJR i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.geCFJR.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .vHMOL .sc-qQZrP { display: none; }
}
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 1; }
.vHMOL .sc-qQZrP.prev-arrow { left: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: 16px; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { color: rgb(93, 107, 130); transform: none; }
.vHMOL .sc-qQZrP { transition: all 0.3s ease 0s; opacity: 0; }
.vHMOL .sc-qQZrP.prev-arrow { left: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP.next-arrow { right: -100%; top: calc(50% - 16px); }
.vHMOL .sc-qQZrP i.fa { transform: none; }
.vHMOL:hover .sc-qQZrP { opacity: 1; }
.vHMOL:hover .sc-qQZrP.prev-arrow { left: 16px; }
.vHMOL:hover .sc-qQZrP.next-arrow { right: 16px; }
.SfOJX { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.SfOJX .sc-qZusK { position: relative; display: flex; flex: 1 1 auto; }
.SfOJX.pf-show-arrow .sc-qQZrP { opacity: 1; }
.SfOJX.pf-show-arrow .sc-qQZrP.prev-arrow { left: 16px; }
.SfOJX.pf-show-arrow .sc-qQZrP.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .SfOJX .sc-pHHLp { display: none; }
}
@media (min-width: 1200px) {
  .SfOJX .sc-pHHLp { display: none; }
}
.ikfgKl { position: relative; display: flex; margin-top: 10px; }
.ikfgKl .icon-left { transform: rotate(180deg); }
.ikfgKl .icon-right { right: 0px; }
.ikfgKl .icon-left:hover, .ikfgKl .icon-right:hover { opacity: 0.5; }
.ikfgKl .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.ikfgKl .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 269px; }
.ikfgKl .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.ikfgKl .pf-p-image-small-container .pf-small-img-roll .sc-psbuI { width: 35.8px; height: 43.8px; float: left; }
.ikfgKl .pf-p-image-small-container .pf-small-img-roll .sc-psbuI img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.ikfgKl .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .ikfgKl { display: none; }
}
.eAxLDs { position: relative; vertical-align: middle; width: 100%; height: 200px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eAxLDs { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eAxLDs { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .eAxLDs { display: var(--pf-d-xs); }
}
.eAxLDs img { border-radius: 4px; width: 100%; }
.eAxLDs a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .eAxLDs { margin: 0px; }
}
.gJGZti[data-pf-type="ProductText"].no-product { text-decoration: none; }
.jYlxvS[data-pf-type="ProductText"].no-product { text-decoration: none; }
.bPnfgz { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bPnfgz { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bPnfgz { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .bPnfgz { grid-gap: var(--pf-s-xs); }
}
.bPnfgz.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.bPnfgz.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-9c405570 {
		text-align: center;
		 padding-left: 100px;
		 padding-right: 100px;
		 margin-bottom: 20px;
	}
	.__pf .pf-3a10a380 {
		font-size: 49px;
		 text-align: center;
		 padding-left: 0px;
	}
	.__pf .pf-924d9f1d {
		font-family: Barlow;
		 font-size: 20px;
		 margin-top: 0px;
		 margin-bottom: 50px;
		 font-weight: 400;
		 line-height: 1.6em;
	}
	.__pf .pf-f9e371f9 {
		font-size: 24px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 25px;
		 text-align: center;
	}
	.__pf .pf-c9e06a11 {
		width: 100%;
		 height: auto;
		 margin-bottom: 15px;
	}
	.__pf .pf-36695222 {
		border-radius: 0px;
		 padding: 0px;
		 display: inline-block;
		 width: 800px;
		 height: auto;
	}
	.__pf .pf-8104a5eb {
		text-align: center;
	}
	.__pf .pf-9311a9fa {
		margin-bottom: 50px;
	}
	.__pf .pf-c8d29996 {
		margin-bottom: 50px;
	}
	.__pf .pf-67d954ff {
		padding-left: 250px;
		 padding-right: 250px;
	}
	.__pf .pf-54ff0497 {
		padding-top: 85px;
		 padding-bottom: 85px;
	}
	.__pf .pf-069af70e {
		margin-bottom: 15px;
	}
	.__pf .pf-f70ea642 {
		font-size: 15px;
		 font-family: Barlow;
		 font-weight: 600;
		 margin-top: 0px;
		 margin-bottom: 10px;
	}
	.__pf .pf-a6421a20 {
		font-size: 15px;
		 font-family: Barlow;
		 font-weight: 400;
		 margin-top: 0px;
		 margin-bottom: 20px;
	}
	.__pf .pf-cb622cd4 {
		background-color: rgb(76, 99, 71);
		 color: rgb(255, 255, 255);
		 width: 100%;
		 font-size: 15px;
		 border-radius: 2px;
		 padding-top: 12px;
		 padding-bottom: 12px;
		 font-family: Barlow;
		 font-weight: 400;
	}
	.__pf .pf-cb622cd4:hover {
		background-color: rgb(57, 77, 53);
	}
	.__pf .pf-2cd43a7b {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-3a7b8055 {
		height: 100%;
	}
	.__pf .pf-8055c8d2 {
		text-align: center;
		 height: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-9c405570 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-67d954ff {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-54ff0497 {
		padding-top: 40px;
		 padding-bottom: 40px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-c9e06a11 {
		width: 800px;
		 height: auto;
	}
	.__pf .pf-8104a5eb {
		text-align: center;
	}
	.__pf .pf-9311a9fa {
		margin-bottom: 0px;
		 margin-left: 0px;
		 margin-right: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-9c405570 {
		padding-left: 0px;
		 padding-right: 0px;
	}
	.__pf .pf-67d954ff {
		padding-left: 50px;
		 padding-right: 50px;
	}
}
						