/* PageFly Element Styles */
						.huJSyH { padding: 15px 0px; position: relative; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.bTTbYE { position: relative; }
.jBtkMg { position: relative; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.dIkdok { display: inline-block; }
.dIkdok[contenteditable="true"] { user-select: text; }
.dIkdok { vertical-align: baseline; word-break: break-word; }
.dIkdok:focus { outline: none; }
.dIkdok::after { display: inline; }
.sYJAy .video-wrapper { position: initial; padding: 0px; }
.cCdxrq > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .cCdxrq[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .cCdxrq[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.cCdxrq[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.cCdxrq[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.cCdxrq.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.cCdxrq.dropcap--circle > span:first-child { border-radius: 100%; }
.cCdxrq:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.cCdxrq ol, .cCdxrq ul { list-style-position: inside; }
.cCdxrq blockquote { font-size: inherit; }
.eddgIe { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.eddgIe .sc-jRuhRL { position: relative; display: flex; flex: 1 1 auto; }
.eddgIe.pf-show-arrow .sc-jdfcpN { opacity: 1; }
.eddgIe.pf-show-arrow .sc-jdfcpN.prev-arrow { left: 16px; }
.eddgIe.pf-show-arrow .sc-jdfcpN.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .eddgIe .sc-eopZyb { display: none; }
}
@media (min-width: 1200px) {
  .eddgIe .sc-eopZyb { display: none; }
}
@media (min-width: 992px) {
  .zpsNY .sc-jdfcpN { display: none; }
}
.zpsNY .sc-jdfcpN { transition: all 0.3s ease 0s; opacity: 1; }
.zpsNY .sc-jdfcpN.prev-arrow { left: 16px; top: calc(50% - 16px); }
.zpsNY .sc-jdfcpN.next-arrow { right: 16px; top: calc(50% - 16px); }
.zpsNY .sc-jdfcpN i.fa { color: rgb(93, 107, 130); transform: none; }
.zpsNY .sc-jdfcpN { transition: all 0.3s ease 0s; opacity: 0; }
.zpsNY .sc-jdfcpN.prev-arrow { left: -100%; top: calc(50% - 16px); }
.zpsNY .sc-jdfcpN.next-arrow { right: -100%; top: calc(50% - 16px); }
.zpsNY .sc-jdfcpN i.fa { transform: none; }
.zpsNY:hover .sc-jdfcpN { opacity: 1; }
.zpsNY:hover .sc-jdfcpN.prev-arrow { left: 16px; }
.zpsNY:hover .sc-jdfcpN.next-arrow { right: 16px; }
.eqQrPw { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.eqQrPw.prev-arrow { left: 16px; top: calc(50% - 16px); }
.eqQrPw.next-arrow { right: 16px; top: calc(50% - 16px); }
.eqQrPw i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.eqQrPw.pf-show-nav { opacity: 1; }
.eOqQoa { position: relative; vertical-align: middle; width: 100%; height: 450px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eOqQoa { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eOqQoa { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .eOqQoa { display: var(--pf-d-xs); }
}
.eOqQoa img { border-radius: 4px; width: 100%; }
.eOqQoa a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .eOqQoa { margin: 0px; }
}
.enQTCC { position: relative; display: flex; margin-top: 10px; }
.enQTCC .icon-left { transform: rotate(180deg); }
.enQTCC .icon-right { right: 0px; }
.enQTCC .icon-left:hover, .enQTCC .icon-right:hover { opacity: 0.5; }
.enQTCC .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.enQTCC .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 605px; }
.enQTCC .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.enQTCC .pf-p-image-small-container .pf-small-img-roll .sc-jUpvKA { width: 103px; height: 111px; float: left; }
.enQTCC .pf-p-image-small-container .pf-small-img-roll .sc-jUpvKA img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.enQTCC .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .enQTCC { display: none; }
}
.kSmdVx[data-pf-type="ProductText"].no-product { text-decoration: none; }
.eDJtrw[data-pf-type="ProductText"].no-product { text-decoration: none; }
.gvYkXq { display: flex; }
.gvYkXq label { margin: 0px; text-transform: initial; font-size: 80%; font-weight: 400; letter-spacing: 0px; }
.gvYkXq .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .gvYkXq .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .gvYkXq .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .gvYkXq .pf-p-variant:not(:last-child) { margin-right: var(--pf-s-xs); }
}
.gvYkXq .pf-p-variant { display: flex; flex-direction: column; }
.gvYkXq .pf-p-variant > label { margin: 0px 0px 8px; min-width: 40px; text-transform: uppercase; font-size: 100%; }
@media (min-width: 768px) {
  .gvYkXq .pf-p-variant { flex: 1 1 0%; }
}
.gvYkXq select { min-height: 30px; -webkit-appearance: none; cursor: pointer; border: 1px solid rgb(209, 213, 219); width: 100%; max-width: 100%; display: inline-block; padding: 6px 12px; line-height: 20px; border-radius: 4px; font-size: inherit; font-family: inherit; color: inherit; background-color: transparent; background-image: linear-gradient(45deg, transparent 50%, rgb(93, 107, 130) 50%), linear-gradient(135deg, rgb(93, 107, 130) 50%, transparent 50%); background-position: calc(100% - 20px) calc(0.7em + 3px), calc(100% - 15px) calc(0.7em + 3px), calc(100% - 0.5em) 0.5em; background-size: 5px 5px, 5px 5px, 1px 1.5em; background-repeat: no-repeat; margin: 0px; }
.gvYkXq select:focus { outline: none; }
.gvYkXq select option { color: inherit; }
.gvYkXq .pf-p-variant-radio { display: block; -webkit-box-align: center; align-items: center; flex-wrap: wrap; }
.gvYkXq .pf-p-variant-radio:not(:last-child) { margin-bottom: 8px; }
.gvYkXq .pf-p-variant-radio > div:not(:last-child) { margin-bottom: 8px; }
.gvYkXq .pf-p-variant-radio label { padding-left: 8px; }
@media (max-width: 767px) {
  .gvYkXq { flex-direction: column; }
  .gvYkXq label { display: block; }
  .gvYkXq .pf-p-variant-radio { display: inline-flex; }
}
.hHViQf { display: inline-flex; }
.hHViQf input { width: 60px; height: 40px; outline: none; text-align: center; padding: 0px; border: 1px solid rgb(209, 213, 219); border-radius: 4px; }
.hHViQf input[data-hidespinner="true"] { }
.hHViQf input[data-hidespinner="true"]::-webkit-outer-spin-button, .hHViQf input[data-hidespinner="true"]::-webkit-inner-spin-button { -webkit-appearance: none; }
.hHViQf input:not(:first-child) { margin: 0px 4px; }
.hHViQf button { width: 40px; height: 40px; outline: none; border: inherit; border-radius: inherit; padding: 0px; }
.hHViQf button[data-quantity-disabled="true"] { opacity: 0.2; }
.hHViQf .js-qty { margin: 0px 4px; height: 40px; }
.hHViQf .js-qty button { display: none; }
.emfEHA { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; }
.emfEHA[disabled] { opacity: 0.7; }
.emfEHA.is-loading, .emfEHA.is-added { pointer-events: none; }
.emfEHA > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.emfEHA.pf-i--left i { margin-right: 0.3em; }
.emfEHA + .sc-iCwjlJ, .emfEHA.pf-i--right i { margin-left: 0.3em; }
.eQOVdD { color: rgb(0, 108, 229); cursor: pointer; }
.eQOVdD > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.eQOVdD.pf-i--left i { margin-right: 0.3em; }
.eQOVdD + .sc-fjhmcy, .eQOVdD.pf-i--right i { margin-left: 0.3em; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.iAtTOG > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .iAtTOG span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .iAtTOG span + span[contenteditable]:empty::after { display: inline; }
.iAtTOG ol, .iAtTOG ul { list-style-position: inside; }
.iAtTOG blockquote { font-size: inherit; }
.jpFoGB { margin: 0px -15px; }
.jpFoGB .pf-c { padding: 15px; }
.jpFoGB .blog__infos h3 a, .jpFoGB .blog__image a { display: block; color: rgb(27, 28, 29); text-decoration: none; font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.jpFoGB .blog__infos a { color: rgb(27, 28, 29); text-decoration: none; }
.jpFoGB .blog__image img { vertical-align: middle; width: 100%; }
.jpFoGB .article--horizontal { display: -webkit-flex; }
.jpFoGB .article--horizontal h3 { margin: 0px 0px 10px; }
.jpFoGB .article--horizontal .blog__infos { text-align: left; flex: 3 1 0%; padding-left: 15px; }
.jpFoGB .article--horizontal .blog__image { flex: 1 1 0%; }
.jpFoGB .blog__infos h3 { font-size: 18px; line-height: 1.7em; margin: 15px 0px; }
.jpFoGB .blog__metas { margin-bottom: 12px; font-size: 12px; }
.jpFoGB .blog__metas span + span { margin-left: 10px; }
.jpFoGB .blog__image.back { position: relative; overflow: hidden; max-width: 100%; max-height: 350px !important; }
.fJjNyw { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-399753f3 {
		font-weight: 700;
		 font-size: 64px;
		 text-align: left;
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-cb383b19 {
		line-height: 26px;
	}
	.__pf .pf-2872a568 {
		text-align: left;
	}
	.__pf .pf-40cf2466 {
		padding: 100px 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-7c62c435-1903-4985-a017-8e0d69ae4990--HPWebFirmaAFixHeroBanner-1.jpg?v=1580101902");
		 color: rgb(0, 0, 0);
	}
	.__pf .pf-d9e21e4f {
		height: auto;
		 width: 100%;
	}
	.__pf .pf-e8972086 {
		color: rgb(46, 50, 52);
		 font-size: 51px;
		 font-weight: 700;
		 line-height: 1.21em;
		 margin-top: 0px;
		 margin-bottom: 30px;
	}
	.__pf .pf-89a0d256 {
		font-size: 18px;
		 line-height: 1.5;
		 margin-top: 0px;
		 letter-spacing: 1px;
		 font-weight: 400;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-d4ee9e2f {
		text-align: center;
	}
	.__pf .pf-9fffa3de {
		text-align: center;
		 font-size: 51px;
		 font-weight: 700;
		 margin-bottom: 20px;
		 margin-top: 0px;
		 line-height: 1.25em;
		 letter-spacing: 1px;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-e586053e {
		font-size: 41px;
		 margin-top: 0%;
		 margin-bottom: 15px;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-36b1d48f {
		font-size: 15px;
		 line-height: 1.5em;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-0dc47c92 {
		min-height: 1px;
		 text-align: left;
	}
	.__pf .pf-bc5df5c6 {
		font-size: 41px;
		 margin-top: 0%;
		 margin-bottom: 15px;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-46781545 {
		font-size: 15px;
		 line-height: 1.5em;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-566cf480 {
		min-height: 1px;
		 text-align: left;
	}
	.__pf .pf-f1fec5af {
		font-size: 41px;
		 margin-top: 0%;
		 margin-bottom: 15px;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-c5973681 {
		font-size: 15px;
		 line-height: 1.5em;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-53d81178 {
		min-height: 1px;
		 text-align: left;
	}
	.__pf .pf-4a143586 {
		padding-bottom: 50px;
	}
	.__pf .pf-de01f37d {
		text-align: center;
		 font-size: 51px;
		 margin-bottom: 20px;
		 margin-top: 0px;
		 line-height: 1.5;
		 letter-spacing: 1px;
		 font-weight: 700;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-9a7327e8 {
		font-size: 24px;
	}
	.__pf .pf-17c9a663 {
		color: rgb(112, 112, 112);
		 font-weight: 300;
		 font-style: italic;
	}
	.__pf .pf-dd7d55cb {
		text-align: center;
		 padding: 15px;
		 background-color: rgb(255, 252, 226);
	}
	.__pf .pf-0bb367c0 {
		background: rgb(245, 245, 245);
		 width: 800px;
		 height: auto;
	}
	.__pf .pf-dc86ccd6 {
		padding-bottom: 0px;
	}
	.__pf .pf-009d70a6 {
		text-align: center;
	}
	.__pf .pf-39c2af10 {
		text-align: center;
		 margin-bottom: 20px;
		 margin-top: 0px;
		 line-height: 1.24em;
		 letter-spacing: 1px;
		 font-weight: 700;
		 color: rgb(46, 50, 52);
		 font-size: 51px;
	}
	.__pf .pf-5815aae5 {
		text-align: center;
		 font-size: 51px;
		 font-weight: 700;
		 margin-bottom: 20px;
		 margin-top: 0px;
		 line-height: 1.24em;
		 letter-spacing: 0px;
		 color: rgb(46, 50, 52);
	}
	.__pf .pf-e9090b9f {
		font-size: 16px;
		 line-height: 1.5;
		 margin-top: 0px;
		 letter-spacing: 1px;
		 color: rgb(46, 50, 52);
		 text-align: left;
		 font-weight: 700;
	}
	.__pf .pf-1f6af3f3 {
		font-size: 28px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-06694bb9 {
		font-size: 28px;
		 margin-bottom: 15px;
	}
	.__pf .pf-23b6cbea {
		margin-bottom: 15px;
	}
	.__pf .pf-ce03b2e1 {
		font-size: 16px;
		 line-height: 19px;
		 margin-bottom: 15px;
	}
	.__pf .pf-b2792935 > button {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-b3b177e9 {
		background-color: rgb(93, 107, 130);
		 border-radius: 4px;
		 color: rgb(255, 255, 255);
		 font-size: 16px;
		 margin-left: 15px;
	}
	.__pf .pf-34a84b04 {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-cb383b19 {
		line-height: 22px;
	}
	.__pf .pf-e8972086 {
		margin-bottom: 20px;
		 font-size: 18px;
	}
	.__pf .pf-89a0d256 {
		font-size: 16px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	.__pf .pf-fd8770f3 {
		padding-bottom: 0px;
	}
	.__pf .pf-9fffa3de {
		font-size: 18px;
	}
	.__pf .pf-e586053e {
		margin: 0px;
		 font-size: 18px;
	}
	.__pf .pf-36b1d48f {
		font-size: 16px;
	}
	.__pf .pf-bc5df5c6 {
		margin: 0px;
		 font-size: 18px;
	}
	.__pf .pf-46781545 {
		font-size: 16px;
	}
	.__pf .pf-f1fec5af {
		margin: 0px;
		 font-size: 18px;
	}
	.__pf .pf-c5973681 {
		font-size: 16px;
	}
	.__pf .pf-de01f37d {
		font-size: 18px;
	}
	.__pf .pf-39c2af10 {
		font-size: 18px;
	}
	.__pf .pf-5815aae5 {
		font-size: 18px;
	}
	.__pf .pf-e9090b9f {
		font-size: 16px;
		 text-align: left;
		 margin-bottom: 0px;
	}
	.__pf .pf-23b6cbea {
		margin-right: 0px;
	}
	.__pf .pf-b3b177e9 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-40cf2466 {
		background-image: url("");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-7a3b9ab3 {
		padding-top: 30px;
	}
	.__pf .pf-fd8770f3 {
		padding-top: 30px;
	}
	.__pf .pf-9fffa3de {
		font-size: 40px;
	}
	.__pf .pf-e586053e {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding: 0% 0px 0px;
	}
	.__pf .pf-602c5d73 {
		margin: 0px;
	}
	.__pf .pf-bc5df5c6 {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding: 0% 0px 0px;
	}
	.__pf .pf-63b17f5b {
		margin: 0px;
	}
	.__pf .pf-f1fec5af {
		margin-bottom: 0px;
		 margin-top: 0px;
		 padding: 0% 0px 0px;
	}
	.__pf .pf-b267f5f5 {
		margin: 0px;
	}
	.__pf .pf-de01f37d {
		font-size: 40px;
	}
	.__pf .pf-39c2af10 {
		font-size: 40px;
	}
	.__pf .pf-5815aae5 {
		font-size: 40px;
	}
	.__pf .pf-40cf2466 {
		background-image: url("");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-e8972086 {
		font-size: 30px;
	}
	.__pf .pf-89a0d256 {
		font-size: 18px;
		 margin-top: 15px;
		 margin-bottom: 0px;
	}
	.__pf .pf-7a3b9ab3 {
		padding-top: 30px;
	}
	.__pf .pf-9fffa3de {
		font-size: 30px;
	}
	.__pf .pf-e586053e {
		font-size: 22px;
		 margin-top: 0px;
		 padding-top: 25%;
	}
	.__pf .pf-36b1d48f {
		font-size: 16px;
	}
	.__pf .pf-bc5df5c6 {
		font-size: 22px;
		 margin-top: 0px;
		 padding-top: 25%;
	}
	.__pf .pf-46781545 {
		font-size: 16px;
	}
	.__pf .pf-f1fec5af {
		font-size: 22px;
		 margin-top: 0px;
		 padding-top: 25%;
	}
	.__pf .pf-c5973681 {
		font-size: 16px;
	}
	.__pf .pf-de01f37d {
		font-size: 30px;
	}
	.__pf .pf-39c2af10 {
		font-size: 30px;
	}
	.__pf .pf-5815aae5 {
		font-size: 30px;
	}
	.__pf .pf-e9090b9f {
		font-size: 18px;
		 margin-top: 15px;
		 margin-bottom: 0px;
	}
	.__pf .pf-b3b177e9 {
		margin-left: 15px;
		 margin-top: 15px;
	}
	.__pf .pf-40cf2466 {
		background-image: url("");
	}
}
						