/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
.hxYrIR { border: none; outline: none; line-height: 1; padding: 12px 20px; cursor: pointer; background: rgb(235, 235, 235); position: relative; display: inline-flex; align-items: center; justify-content: center; }
.hxYrIR[disabled] { opacity: 0.7; }
.hxYrIR.is-loading, .hxYrIR.is-added { pointer-events: none; }
.hxYrIR > span { vertical-align: middle; line-height: inherit; display: inline-block; max-width: 100%; }
.hxYrIR.pf-i--left i { margin-right: 0.3em; }
.hxYrIR + .sc-pZNLs, .hxYrIR.pf-i--right i { margin-left: 0.3em; }
.gYNRye form { margin: 0px; height: 100%; }
.ioSCNC { position: absolute; z-index: 1; width: 32px; height: 32px; line-height: 34px; text-align: center; cursor: pointer; background: rgba(255, 255, 255, 0.35); border-radius: 2px; opacity: 0; }
.ioSCNC.prev-arrow { left: 16px; top: calc(50% - 16px); }
.ioSCNC.next-arrow { right: 16px; top: calc(50% - 16px); }
.ioSCNC i.fa { font-size: 20px; color: rgb(93, 107, 130); }
.ioSCNC.pf-show-nav { opacity: 1; }
@media (min-width: 992px) {
  .erPCE .sc-pjGtN { display: none; }
}
.erPCE .sc-pjGtN { transition: all 0.3s ease 0s; opacity: 1; }
.erPCE .sc-pjGtN.prev-arrow { left: 16px; top: calc(50% - 16px); }
.erPCE .sc-pjGtN.next-arrow { right: 16px; top: calc(50% - 16px); }
.erPCE .sc-pjGtN i.fa { color: rgb(93, 107, 130); transform: none; }
.erPCE .sc-pjGtN { transition: all 0.3s ease 0s; opacity: 0; }
.erPCE .sc-pjGtN.prev-arrow { left: -100%; top: calc(50% - 16px); }
.erPCE .sc-pjGtN.next-arrow { right: -100%; top: calc(50% - 16px); }
.erPCE .sc-pjGtN i.fa { transform: none; }
.erPCE:hover .sc-pjGtN { opacity: 1; }
.erPCE:hover .sc-pjGtN.prev-arrow { left: 16px; }
.erPCE:hover .sc-pjGtN.next-arrow { right: 16px; }
.gBrOGl { position: relative; display: inline-flex; width: 100%; flex-direction: column; overflow: hidden; }
.gBrOGl .sc-psbuI { position: relative; display: flex; flex: 1 1 auto; }
.gBrOGl.pf-show-arrow .sc-pjGtN { opacity: 1; }
.gBrOGl.pf-show-arrow .sc-pjGtN.prev-arrow { left: 16px; }
.gBrOGl.pf-show-arrow .sc-pjGtN.next-arrow { right: 16px; }
@media (max-width: 767px) {
}
@media (max-width: 991px) and (min-width: 768px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
  .gBrOGl .sc-qZusK { display: none; }
}
@media (min-width: 1200px) {
  .gBrOGl .sc-qZusK { display: none; }
}
.fyWQtF { position: relative; display: flex; margin-top: 10px; }
.fyWQtF .icon-left { transform: rotate(180deg); }
.fyWQtF .icon-right { right: 0px; }
.fyWQtF .icon-left:hover, .fyWQtF .icon-right:hover { opacity: 0.5; }
.fyWQtF .pf-p-image-small-container { width: 100%; overflow: hidden; position: relative; }
.fyWQtF .pf-p-image-small-container .pf-small-img-roll { transition: all 0.5s ease 0s; min-width: 313px; }
.fyWQtF .pf-p-image-small-container .pf-small-img-roll::after { display: block; content: ""; clear: both; }
.fyWQtF .pf-p-image-small-container .pf-small-img-roll .sc-pcjuG { width: 44.6px; height: 52.6px; float: left; }
.fyWQtF .pf-p-image-small-container .pf-small-img-roll .sc-pcjuG img { width: 100%; height: 100%; object-fit: cover; cursor: pointer; border-radius: 2px; border: 1px solid rgb(209, 213, 219); }
.fyWQtF .pf-p-image-small-container div { position: relative; }
@media (max-width: 991px) {
  .fyWQtF { display: none; }
}
.uQixF { position: relative; vertical-align: middle; width: 100%; height: 200px; display: var(--pf-d-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .uQixF { display: var(--pf-d-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .uQixF { display: var(--pf-d-sm); }
}
@media (max-width: 767px) {
  .uQixF { display: var(--pf-d-xs); }
}
.uQixF img { border-radius: 4px; width: 100%; }
.uQixF a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
@media (max-width: 991px) {
  .uQixF { margin: 0px; }
}
.kkgvSC[data-pf-type="ProductText"].no-product { text-decoration: none; }
.ITnEo[data-pf-type="ProductText"].no-product { text-decoration: none; }
.cXYPNp { grid-gap: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cXYPNp { grid-gap: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cXYPNp { grid-gap: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cXYPNp { grid-gap: var(--pf-s-xs); }
}
.cXYPNp.pf-loading::before { content: ""; position: absolute; border-width: 3px; border-style: solid; border-color: rgb(95, 103, 255) rgb(243, 243, 243) rgb(243, 243, 243); border-image: initial; border-radius: 50%; width: 32px; height: 32px; animation: 2s linear 0s infinite normal none running pf-spin; z-index: 1; top: calc(50% - 46px); left: calc(50% - 16px); }
.cXYPNp.pf-loading > div:not(:last-child) { opacity: 0.6; }
@keyframes pf-spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
						/* PageFly Styles */
						
@media all {
	.__pf .pf-53135670 {
		font-family: "Open Sans";
		 font-size: 42px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 30px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-f9061642 {
		margin-top: 0px;
		 margin-bottom: 0px;
		 font-size: 18px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-1642eac6 {
		background-color: rgb(255, 255, 255);
		 padding: 70px;
	}
	.__pf .pf-eac63287 {
		padding-right: 560px;
	}
	.__pf .pf-3287b84f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-b2ee25d2--Stocksytxpb0498bder7g200Medium2457071-2-Edited.jpg?v=1587664042");
		 padding-top: 105px;
		 padding-bottom: 105px;
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-4984c894 {
		font-size: 50px;
		 text-align: center;
	}
	.__pf .pf-0ba2d16e {
		padding-bottom: 60px;
		 padding-top: 60px;
	}
	.__pf .pf-8c2ab3ce {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-f5ac556f {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-556f6dd0 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-6dd09495 {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-6dd09495:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-9495b971 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-ffdeb0dd {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c445d881--zkprocosmetics.JPG?v=1586986577");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-b0dd2535 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-229a651e--jess-Edited-Edited.jpg?v=1587596663");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-3ff84d0a {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-671913a2 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-fe4eb788 {
		margin-bottom: 0px;
	}
	.__pf .pf-f20ad369 {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
		 padding-top: 30px;
	}
	.__pf .pf-927eb549 {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-668fdae6 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-dae6db1c {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-db1c60b1 {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-db1c60b1:hover {
		display: inline-block;
		 background-color: rgb(186, 224, 253);
	}
	.__pf .pf-e3a3f68c {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-d2a7fb8b {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6438d499--hydropeptideukraine3.JPG?v=1587601314");
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-3bdcd2a7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-ba6438d4--asia.jpg?v=1587600782");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-b549668f {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-0792e3a3 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-1e3be0ba {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-17bce1e1 {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-b3444461 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-44618b38 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-8b38dbf0 {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-8b38dbf0:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-7dd8f9ee {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-f3bc669c {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-887bb47d--Photo-Jun-19-11-04-12-AM.jpg?v=1587600128");
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-b0a9f3bc {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-8c887bb4--hiedi.png?v=1587600025");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-e1e1b344 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-c5bf7dd8 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-d8c68c88 {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-52fb8002 {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-3e3985db {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-85db809d {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-809d1a09 {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-809d1a09:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-d4f20f6d {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-70ecb10c {
		background-size: cover;
		 background-position: 50% 50%;
		 margin-bottom: 0px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-bb9d7ec5--FirmaFix.jpeg?v=1586980305");
	}
	.__pf .pf-c17470ec {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-78656ef6--malia.jpg?v=1587601874");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-80023e39 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-e145d4f2 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-0f6dc778 {
		margin-bottom: -5px;
	}
	.__pf .pf-c778656e {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-a9a82a11 {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-06e99ae7 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-9ae71536 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-1536d4a3 {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-1536d4a3:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-d4a361aa {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-ae6f56d5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-73829d90--Vital-Eye-Hero-Edited.jpg?v=1586452146");
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-523dae6f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c3326bcf--Suzy-Edited.jpg?v=1587592632");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-2a113623 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-b0d0f7ea {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-39cb2312 {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-122bfce9 {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-fce935bc {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-35bc4505 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-4505197d {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-4505197d:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-caaa37f4 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-919bef22 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-571c809d--2020032319391Edit-Edited.jpg?v=1588612402");
		 background-size: cover;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
	}
	.__pf .pf-ef22158a {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-fe707bbc--IMG201809012003422.jpg?v=1587685243");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-197dbfe8 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-37f4f7cc {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-f7fe707b {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-341c37f4 {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-52269943 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-9943b338 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-b3382459 {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-b3382459:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-3bd2b437 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-ef76769d {
		background-size: contain;
		 background-position: 50% 50%;
		 margin-bottom: 0px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-754e3549--Power-Squad.jpeg?v=1587668413");
		 background-repeat: no-repeat;
	}
	.__pf .pf-15e0ef76 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-5acd6f75--madelyn.jpg?v=1587601741");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
		 background-repeat: repeat-y;
	}
	.__pf .pf-37f45226 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-833c3bd2 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-b4379ccf {
		margin-bottom: -4px;
	}
	.__pf .pf-9ccf5acd {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-67d323fa {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-8684f5d2 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-f5d29f26 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-9f266476 {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-9f266476:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-fdb4ef9f {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-c298cb87 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-030f20b7-2723-4a61-81a8-37651995b474--8116441427602094607337874916067492491041354n.jpg?v=1578599694");
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-c116c298 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-e0ba6438--brooke-Edited.jpg?v=1587600475");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-23fa8684 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-d99bfdb4 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-ef9f8f6e {
		margin-bottom: 100px;
	}
	.__pf .pf-8f6eacd6 {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
		 margin-bottom: -100px;
	}
	.__pf .pf-ddff4638 {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-874a8fbb {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-8fbb9fc7 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-9fc7e67e {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-9fc7e67e:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-f55f16d4 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-06e5a73e {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-f18e640f-6548-4c28-89ab-9fd233c7dc38--11.jpeg?v=1580336116");
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-76e906e5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-3456906a--Sarah.jpg?v=1587598940");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-4638874a {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-39b8f55f {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-9b345690 {
		padding-bottom: 0px;
		 background-color: rgb(248, 248, 248);
	}
	.__pf .pf-0e4d00c7 {
		font-size: 50px;
		 text-align: center;
		 font-family: Abel;
	}
	.__pf .pf-fa1135af {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 margin-top: 0px;
		 margin-bottom: 20px;
		 color: rgb(51, 51, 51);
	}
	.__pf .pf-35afc491 {
		margin-top: 0px;
		 margin-bottom: 50px;
		 font-size: 16px;
		 font-family: "Open Sans";
		 color: rgb(102, 102, 102);
		 line-height: 1.5em;
	}
	.__pf .pf-c491ea4e {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 font-family: "Open Sans";
		 font-size: 16px;
		 border-radius: 5px;
		 padding: 15px 40px;
		 font-weight: 600;
	}
	.__pf .pf-c491ea4e:hover {
		background-color: rgb(186, 224, 253);
		 display: inline-block;
	}
	.__pf .pf-9e364e3d {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-520f868d {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6ee74781-1a96-49a0-9d98-7baafe3d6bc8--esbeautysuitecbd.JPG?v=1579729945");
		 background-size: cover;
		 background-position: 50% 50%;
	}
	.__pf .pf-8abc520f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c68c887b--sophia.jpg?v=1587599921");
		 background-size: cover;
		 background-position: 50% 50%;
		 min-height: 541px;
	}
	.__pf .pf-00c7fa11 {
		font-family: "Open Sans";
		 font-size: 32px;
		 font-weight: 700;
		 color: rgb(51, 51, 51);
		 margin-top: 100px;
	}
	.__pf .pf-80619e36 {
		background-color: rgb(255, 255, 255);
		 padding: 105px 70px;
	}
	.__pf .pf-7f7c0f5e {
		background-color: rgb(248, 248, 248);
	}
	.__pf .pf-2369654d {
		margin-bottom: 15px;
	}
	.__pf .pf-654d56c0 {
		font-size: 18px;
		 margin-top: 0px;
		 margin-bottom: 15px;
	}
	.__pf .pf-56c04d94 {
		margin-bottom: 15px;
		 font-size: 16px;
		 flex: 1 1 0%;
	}
	.__pf .pf-1199a13a {
		background-color: rgb(186, 224, 253);
		 color: rgb(255, 255, 255);
		 width: 100%;
		 font-size: 14px;
		 border-radius: 2px;
		 padding-top: 12px;
		 padding-bottom: 12px;
	}
	.__pf .pf-a13a2b02 {
		display: flex;
		 flex-direction: column;
	}
	.__pf .pf-2b02527f {
		height: 100%;
	}
	.__pf .pf-527f9ecc {
		text-align: center;
		 height: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-53135670 {
		font-size: 22px;
	}
	.__pf .pf-1642eac6 {
		padding: 40px;
		 background-color: rgba(255, 255, 255, 0.86);
	}
	.__pf .pf-eac63287 {
		padding-right: 0px;
	}
	.__pf .pf-3287b84f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-b2ee25d2--Stocksytxpb0498bder7g200Medium2457071-2-Edited.jpg?v=1587664042");
		 padding-top: 30px;
		 padding-bottom: 30px;
	}
	.__pf .pf-0ba2d16e {
		padding-top: 20px;
		 padding-bottom: 20px;
	}
	.__pf .pf-009cc6a4 {
		font-size: 50px;
		 text-align: center;
		 margin: 0px;
	}
	.__pf .pf-e0b8d0d0 {
		padding: 0px;
	}
	.__pf .pf-f5ac556f {
		font-size: 24px;
	}
	.__pf .pf-556f6dd0 {
		margin-bottom: 30px;
	}
	.__pf .pf-9495b971 {
		padding: 30px;
	}
	.__pf .pf-ffdeb0dd {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c445d881--zkprocosmetics.JPG?v=1586986577");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-b0dd2535 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-229a651e--jess-Edited-Edited.jpg?v=1587596663&selected");
		 background-size: cover;
		 display: block;
		 background-position: 50% 50%;
		 background-repeat: no-repeat;
		 min-height: 350px;
	}
	.__pf .pf-3ff84d0a {
		font-size: 24px;
	}
	.__pf .pf-671913a2 {
		padding: 30px;
	}
	.__pf .pf-fe4eb788 {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-f20ad369 {
		padding: 0px;
	}
	.__pf .pf-668fdae6 {
		font-size: 24px;
	}
	.__pf .pf-dae6db1c {
		margin-bottom: 30px;
	}
	.__pf .pf-e3a3f68c {
		padding: 30px;
	}
	.__pf .pf-d2a7fb8b {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6438d499--hydropeptideukraine3.JPG?v=1587601314");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-3bdcd2a7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-ba6438d4--asia.jpg?v=1587600782");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-b549668f {
		font-size: 24px;
	}
	.__pf .pf-0792e3a3 {
		padding: 30px;
	}
	.__pf .pf-f68c1e3b {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-1e3be0ba {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-b3444461 {
		font-size: 24px;
	}
	.__pf .pf-44618b38 {
		margin-bottom: 30px;
	}
	.__pf .pf-7dd8f9ee {
		padding: 30px;
	}
	.__pf .pf-f3bc669c {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-887bb47d--Photo-Jun-19-11-04-12-AM.jpg?v=1587600128");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-b0a9f3bc {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-8c887bb4--hiedi.png?v=1587600025");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-e1e1b344 {
		font-size: 24px;
	}
	.__pf .pf-c5bf7dd8 {
		padding: 30px;
	}
	.__pf .pf-f9eed8c6 {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-d8c68c88 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-3e3985db {
		font-size: 24px;
	}
	.__pf .pf-85db809d {
		margin-bottom: 30px;
	}
	.__pf .pf-d4f20f6d {
		padding: 30px;
	}
	.__pf .pf-70ecb10c {
		padding-top: 120px;
		 padding-bottom: 120px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-bb9d7ec5--FirmaFix.jpeg?v=1586980305");
	}
	.__pf .pf-c17470ec {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-78656ef6--malia.jpg?v=1587601874");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-80023e39 {
		font-size: 24px;
	}
	.__pf .pf-e145d4f2 {
		padding: 30px;
	}
	.__pf .pf-0f6dc778 {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-c778656e {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-06e99ae7 {
		font-size: 24px;
	}
	.__pf .pf-9ae71536 {
		margin-bottom: 30px;
	}
	.__pf .pf-d4a361aa {
		padding: 30px;
	}
	.__pf .pf-ae6f56d5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-73829d90--Vital-Eye-Hero-Edited.jpg?v=1586452146");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-523dae6f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c3326bcf--Suzy-Edited.jpg?v=1587592632");
		 padding: 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 min-height: 337px;
	}
	.__pf .pf-2a113623 {
		font-size: 24px;
	}
	.__pf .pf-b0d0f7ea {
		padding: 30px;
	}
	.__pf .pf-f7ea39cb {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-39cb2312 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-fce935bc {
		font-size: 24px;
	}
	.__pf .pf-35bc4505 {
		margin-bottom: 30px;
	}
	.__pf .pf-caaa37f4 {
		padding: 30px;
	}
	.__pf .pf-919bef22 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-571c809d--2020032319391Edit-Edited.jpg?v=1588612402");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-ef22158a {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-fe707bbc--IMG201809012003422.jpg?v=1587685243");
		 padding: 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 min-height: 337px;
	}
	.__pf .pf-197dbfe8 {
		font-size: 24px;
	}
	.__pf .pf-37f4f7cc {
		padding: 30px;
	}
	.__pf .pf-f7ccf7fe {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-f7fe707b {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-52269943 {
		font-size: 24px;
	}
	.__pf .pf-9943b338 {
		margin-bottom: 30px;
	}
	.__pf .pf-3bd2b437 {
		padding: 30px;
	}
	.__pf .pf-ef76769d {
		padding-top: 120px;
		 padding-bottom: 120px;
		 background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-754e3549--Power-Squad.jpeg?v=1587668413");
	}
	.__pf .pf-15e0ef76 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-5acd6f75--madelyn.jpg?v=1587601741");
		 padding: 0px;
		 background-size: cover;
		 min-height: 435px;
	}
	.__pf .pf-37f45226 {
		font-size: 24px;
	}
	.__pf .pf-833c3bd2 {
		padding: 30px;
	}
	.__pf .pf-b4379ccf {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-9ccf5acd {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-8684f5d2 {
		font-size: 24px;
	}
	.__pf .pf-f5d29f26 {
		margin-bottom: 30px;
	}
	.__pf .pf-fdb4ef9f {
		padding: 30px;
	}
	.__pf .pf-c298cb87 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-030f20b7-2723-4a61-81a8-37651995b474--8116441427602094607337874916067492491041354n.jpg?v=1578599694");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-c116c298 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-e0ba6438--brooke-Edited.jpg?v=1587600475");
		 padding: 0px;
		 background-size: cover;
		 background-repeat: no-repeat;
		 min-height: 255px;
	}
	.__pf .pf-23fa8684 {
		font-size: 24px;
	}
	.__pf .pf-d99bfdb4 {
		padding: 30px;
	}
	.__pf .pf-ef9f8f6e {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-8f6eacd6 {
		padding-top: 0px;
		 padding-bottom: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-874a8fbb {
		font-size: 24px;
	}
	.__pf .pf-8fbb9fc7 {
		margin-bottom: 30px;
	}
	.__pf .pf-f55f16d4 {
		padding: 30px;
	}
	.__pf .pf-06e5a73e {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-f18e640f-6548-4c28-89ab-9fd233c7dc38--11.jpeg?v=1580336116");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-76e906e5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-3456906a--Sarah.jpg?v=1587598940");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-4638874a {
		font-size: 24px;
	}
	.__pf .pf-39b8f55f {
		padding: 30px;
	}
	.__pf .pf-16d49b34 {
		display: flex;
		 flex-direction: column-reverse;
		 margin-bottom: 0px;
	}
	.__pf .pf-9b345690 {
		padding-top: 0px;
		 padding-bottom: 0px;
	}
	.__pf .pf-fa1135af {
		font-size: 24px;
	}
	.__pf .pf-35afc491 {
		margin-bottom: 30px;
	}
	.__pf .pf-9e364e3d {
		padding: 30px;
	}
	.__pf .pf-520f868d {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6ee74781-1a96-49a0-9d98-7baafe3d6bc8--esbeautysuitecbd.JPG?v=1579729945");
		 padding-top: 120px;
		 padding-bottom: 120px;
	}
	.__pf .pf-8abc520f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c68c887b--sophia.jpg?v=1587599921");
		 padding: 0px;
		 min-height: 419px;
	}
	.__pf .pf-00c7fa11 {
		font-size: 24px;
	}
	.__pf .pf-80619e36 {
		padding: 30px;
	}
	.__pf .pf-4e3d7f7c {
		display: flex;
		 flex-direction: column-reverse;
	}
	.__pf .pf-7f7c0f5e {
		padding: 0px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-3287b84f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-b2ee25d2--Stocksytxpb0498bder7g200Medium2457071-2-Edited.jpg?v=1587664042");
	}
	.__pf .pf-ffdeb0dd {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c445d881--zkprocosmetics.JPG?v=1586986577");
	}
	.__pf .pf-b0dd2535 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-229a651e--jess-Edited-Edited.jpg?v=1587596663&selected");
	}
	.__pf .pf-d2a7fb8b {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6438d499--hydropeptideukraine3.JPG?v=1587601314");
	}
	.__pf .pf-3bdcd2a7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-ba6438d4--asia.jpg?v=1587600782");
	}
	.__pf .pf-f3bc669c {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-887bb47d--Photo-Jun-19-11-04-12-AM.jpg?v=1587600128");
	}
	.__pf .pf-b0a9f3bc {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-8c887bb4--hiedi.png?v=1587600025");
	}
	.__pf .pf-70ecb10c {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-bb9d7ec5--FirmaFix.jpeg?v=1586980305");
	}
	.__pf .pf-c17470ec {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-78656ef6--malia.jpg?v=1587601874");
	}
	.__pf .pf-ae6f56d5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-73829d90--Vital-Eye-Hero-Edited.jpg?v=1586452146");
	}
	.__pf .pf-523dae6f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c3326bcf--Suzy-Edited.jpg?v=1587592632");
	}
	.__pf .pf-919bef22 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-571c809d--2020032319391Edit-Edited.jpg?v=1588612402");
	}
	.__pf .pf-ef22158a {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-fe707bbc--IMG201809012003422.jpg?v=1587685243");
	}
	.__pf .pf-ef76769d {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-754e3549--Power-Squad.jpeg?v=1587668413&selected");
	}
	.__pf .pf-15e0ef76 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-5acd6f75--madelyn.jpg?v=1587601741");
	}
	.__pf .pf-c298cb87 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-030f20b7-2723-4a61-81a8-37651995b474--8116441427602094607337874916067492491041354n.jpg?v=1578599694");
	}
	.__pf .pf-c116c298 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-e0ba6438--brooke-Edited.jpg?v=1587600475");
	}
	.__pf .pf-06e5a73e {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-f18e640f-6548-4c28-89ab-9fd233c7dc38--11.jpeg?v=1580336116");
	}
	.__pf .pf-76e906e5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-3456906a--Sarah.jpg?v=1587598940");
	}
	.__pf .pf-520f868d {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6ee74781-1a96-49a0-9d98-7baafe3d6bc8--esbeautysuitecbd.JPG?v=1579729945");
	}
	.__pf .pf-8abc520f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c68c887b--sophia.jpg?v=1587599921");
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-53135670 {
		font-size: 24px;
	}
	.__pf .pf-eac63287 {
		padding-right: 300px;
	}
	.__pf .pf-3287b84f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-b2ee25d2--Stocksytxpb0498bder7g200Medium2457071-2-Edited.jpg?v=1587664042");
		 padding-top: 80px;
		 padding-bottom: 80px;
	}
	.__pf .pf-009cc6a4 {
		font-size: 50px;
		 text-align: center;
	}
	.__pf .pf-f5ac556f {
		font-size: 26px;
		 text-align: left;
		 margin-left: 0px;
	}
	.__pf .pf-9495b971 {
		padding: 50px;
	}
	.__pf .pf-ffdeb0dd {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c445d881--zkprocosmetics.JPG?v=1586986577");
	}
	.__pf .pf-b0dd2535 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-229a651e--jess-Edited-Edited.jpg?v=1587596663&selected");
		 min-height: 1px;
		 background-position: 50% 50%;
		 background-size: contain;
		 background-repeat: no-repeat;
		 background-attachment: scroll;
	}
	.__pf .pf-3ff84d0a {
		font-size: 26px;
	}
	.__pf .pf-671913a2 {
		padding: 50px;
	}
	.__pf .pf-668fdae6 {
		font-size: 26px;
	}
	.__pf .pf-e3a3f68c {
		padding: 50px;
	}
	.__pf .pf-d2a7fb8b {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6438d499--hydropeptideukraine3.JPG?v=1587601314");
	}
	.__pf .pf-3bdcd2a7 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-ba6438d4--asia.jpg?v=1587600782");
		 background-repeat: repeat-x;
		 background-size: contain;
	}
	.__pf .pf-b549668f {
		font-size: 26px;
	}
	.__pf .pf-0792e3a3 {
		padding: 50px;
	}
	.__pf .pf-b3444461 {
		font-size: 26px;
	}
	.__pf .pf-7dd8f9ee {
		padding: 50px;
	}
	.__pf .pf-f3bc669c {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-887bb47d--Photo-Jun-19-11-04-12-AM.jpg?v=1587600128");
	}
	.__pf .pf-b0a9f3bc {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-8c887bb4--hiedi.png?v=1587600025");
	}
	.__pf .pf-e1e1b344 {
		font-size: 26px;
	}
	.__pf .pf-c5bf7dd8 {
		padding: 50px;
	}
	.__pf .pf-3e3985db {
		font-size: 26px;
	}
	.__pf .pf-d4f20f6d {
		padding: 50px;
	}
	.__pf .pf-70ecb10c {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-bb9d7ec5--FirmaFix.jpeg?v=1586980305");
	}
	.__pf .pf-c17470ec {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-78656ef6--malia.jpg?v=1587601874");
	}
	.__pf .pf-80023e39 {
		font-size: 26px;
	}
	.__pf .pf-e145d4f2 {
		padding: 50px;
	}
	.__pf .pf-06e99ae7 {
		font-size: 26px;
	}
	.__pf .pf-d4a361aa {
		padding: 50px;
	}
	.__pf .pf-ae6f56d5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-73829d90--Vital-Eye-Hero-Edited.jpg?v=1586452146");
	}
	.__pf .pf-523dae6f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c3326bcf--Suzy-Edited.jpg?v=1587592632");
		 background-size: contain;
		 background-repeat: no-repeat;
	}
	.__pf .pf-2a113623 {
		font-size: 26px;
	}
	.__pf .pf-b0d0f7ea {
		padding: 50px;
	}
	.__pf .pf-fce935bc {
		font-size: 26px;
	}
	.__pf .pf-caaa37f4 {
		padding: 50px;
	}
	.__pf .pf-919bef22 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-571c809d--2020032319391Edit-Edited.jpg?v=1588612402");
	}
	.__pf .pf-ef22158a {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-fe707bbc--IMG201809012003422.jpg?v=1587685243");
		 background-size: contain;
		 background-repeat: no-repeat;
	}
	.__pf .pf-197dbfe8 {
		font-size: 26px;
	}
	.__pf .pf-37f4f7cc {
		padding: 50px;
	}
	.__pf .pf-52269943 {
		font-size: 26px;
	}
	.__pf .pf-3bd2b437 {
		padding: 50px;
	}
	.__pf .pf-ef76769d {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-754e3549--Power-Squad.jpeg?v=1587668413");
	}
	.__pf .pf-15e0ef76 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-5acd6f75--madelyn.jpg?v=1587601741");
		 background-size: contain;
		 background-repeat: repeat-x;
	}
	.__pf .pf-37f45226 {
		font-size: 26px;
	}
	.__pf .pf-833c3bd2 {
		padding: 50px;
	}
	.__pf .pf-8684f5d2 {
		font-size: 26px;
	}
	.__pf .pf-fdb4ef9f {
		padding: 50px;
	}
	.__pf .pf-c298cb87 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-030f20b7-2723-4a61-81a8-37651995b474--8116441427602094607337874916067492491041354n.jpg?v=1578599694");
	}
	.__pf .pf-c116c298 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-e0ba6438--brooke-Edited.jpg?v=1587600475");
		 background-size: contain;
		 background-repeat: repeat-x;
	}
	.__pf .pf-23fa8684 {
		font-size: 26px;
	}
	.__pf .pf-d99bfdb4 {
		padding: 50px;
	}
	.__pf .pf-874a8fbb {
		font-size: 26px;
	}
	.__pf .pf-f55f16d4 {
		padding: 50px;
	}
	.__pf .pf-06e5a73e {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-f18e640f-6548-4c28-89ab-9fd233c7dc38--11.jpeg?v=1580336116");
	}
	.__pf .pf-76e906e5 {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-3456906a--Sarah.jpg?v=1587598940");
	}
	.__pf .pf-4638874a {
		font-size: 26px;
	}
	.__pf .pf-39b8f55f {
		padding: 50px;
	}
	.__pf .pf-fa1135af {
		font-size: 26px;
	}
	.__pf .pf-9e364e3d {
		padding: 50px;
	}
	.__pf .pf-520f868d {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-6ee74781-1a96-49a0-9d98-7baafe3d6bc8--esbeautysuitecbd.JPG?v=1579729945");
	}
	.__pf .pf-8abc520f {
		background-image: url("https://cdn.shopify.com/s/files/1/0027/5179/1157/t/15/assets/pf-c68c887b--sophia.jpg?v=1587599921");
		 background-size: contain;
		 background-repeat: repeat-x;
	}
	.__pf .pf-00c7fa11 {
		font-size: 26px;
	}
	.__pf .pf-80619e36 {
		padding: 50px;
	}
}
						