<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--one-whole promise_main">

    {% section 'promise-banner' %}
    {% section 'promise-geneius' %}
    {% section 'promise-science' %}
	{% section 'promise-sensory' %}
    {% section 'promise-right-video' %}
    <div class="custom_wrapper our_team">
    {% section 'promise-team' %}
    </div>

  </div>
</div>
